@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

body {
  background-color: #d2dde3;
  background-size: cover;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.nav {
  float: right;
  margin-right: 1.2em;
}

.nav-ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-li {
  font-size: 1em;
  padding: 2em 3em 0.5em;
  font-weight: bold;
}

.link:hover {
  border-bottom: 0.13em solid #466d7e;
}

.link {
  padding-bottom: 0.2em;
  text-decoration: none;
  color: #000;
  transition: border-bottom 0.08s;
}

.com-name {
  font-weight: bold;
}

h3,
.get-started,
.logo-nav,
.arrow {
  background-color: #1e2223;
  color: #fff;
}

h3 {
  font-weight: 400;
  padding: 1em 5em;
  float: left;
  font-size: 2em;
  letter-spacing: 2px;
}

article {
  position: absolute;
  padding: 16em 0em 0 7em;
}

h1,
.product-name {
  font-family: "Antonio", sans-serif;
  color: #fe2857;
}

h1 {
  font-size: 16em;
}

h4 {
  font-size: 2.52rem;
  font-weight: 400;
}

.product-name {
  font-size: 13rem;
}

img {
  margin-top: -2em;
  margin-left: 57em;
  width: 44%;
  height: 90vh;
}

.logo-nav,
.arrow {
  bottom: 0;
  display: flexbox;
  position: absolute;
}

.get-started {
  font-size: 0.9em;
  border-radius: 2px;
  margin: 3.5em 0;
  padding: 0.8em 3.6em;
  border: none;
  letter-spacing: 2px;
}

.get-started,
.logo-nav,
.arrow {
  cursor: pointer;
}

.arrow-logo {
  width: 2.3em;
  height: 2.3em;
}

.arrow {
  display: flex;
  right: 0;
  border: none;
  padding: 1em;
  color: #ff0000;
  transition: color 0.25s;
}

.arrow:hover {
  color: #fddd00;
}

.arrow:active {
  color: #21df21;
}

.fb,
.ig,
.tweet {
  width: 1.5em;
  height: 1.5em;
  padding: 0.3em;
  color: #d2dde3;
}

.logo-ul {
  list-style: none;
  padding: 0.8em;
}

.links {
  text-decoration: none;
}

.fb:hover {
  color: #4267b2;
}

.tweet:hover {
  color: #1da1f2;
}
