html {
  scroll-behavior: smooth;
}

body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/domino-164_6wVEHfI-unsplash.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-x: 25%;
  background-position-y: 25%;
  z-index: -1;
  animation: introLoad 2s forwards;
}

.logo {
  color: #fff;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  .close {
    float: right;
    margin: 1em;
    width: 2.3em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;

    a {
      color: #000;
      line-height: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: background 0.2s;

      &:hover {
        background: #cdcdcd;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;

  svg {
    width: 3em;
    margin-top: -0.6em;
    cursor: pointer;
  }
}

h1 {
  font-size: 2.2rem;
  margin-top: 2em;
  line-height: 2.5rem;
}

.subhead {
  font-size: 1.4rem;
  line-height: 2rem;
}

section.hero {
  color: #fff;
  height: 90vh;

  .down-arrow {
    position: absolute;
    bottom: 4em;
    left: 0em;
    width: 4em;
  }
}

// MORE INFO
.more-info {
  img {
    width: 100%;
    object-fit: cover;
    height: 25.5vh;
  }

  .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .info {
    line-height: 1.5rem;
  }
}
