html {
  scroll-behavior: smooth;
}

body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/domino-164_6wVEHfI-unsplash.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-x: 25%;
  background-position-y: 25%;
  z-index: -1;
  animation: introLoad 2s forwards;
}

.logo {
  color: #fff;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  .close {
    float: right;
    margin: 1em;
    width: 2.3em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;

    a {
      color: #000;
      line-height: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: background 0.2s;

      &:hover {
        background: #cdcdcd;
      }
    }
  }
}

.open-nav {
  transform: translateX(0%);
}

header {
  display: flex;
  justify-content: space-between;

  svg {
    width: 3em;
    margin-top: -0.6em;
    cursor: pointer;
  }
}

h1 {
  font-size: 2.2rem;
  margin-top: 2em;
  line-height: 2.5rem;
}

.subhead {
  font-size: 1.4rem;
  line-height: 2rem;
}

section.hero {
  color: #fff;
  height: 90vh;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;

  .down-arrow {
    position: absolute;
    bottom: 4em;
    left: 0em;
    width: 4em;
    animation: moveArrow 1s alternate-reverse infinite;
  }
}

// MORE INFO
.more-info {
  img {
    width: 100%;
    object-fit: cover;
    height: 25.5vh;
  }

  .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .info {
    line-height: 1.5rem;
  }
}

// ANIMATIONS
// HERO IMAGE
@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

//DOWN ARROW
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0px);
  }
}
//SECTION-HERO
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

// MEDIA QUERIES
@media only screen and (min-width: 360px) {
  .feature {
    img {
      height: 25em;
      object-position: center;
      // object-fit: contain;
    }
  }

  section.hero {
    width: 50%;
  }
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: 'Poppins', sans-serif;
  }

  .feature {
    img {
      height: 28em;
    }
  }
}

@media only screen and (min-width: 920px) {
  body {
    margin-top: 1em;
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 98vh;
  }

  .logo {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 1.5rem;

    span {
      color: #f00;
    }
  }

  nav {
    position: unset;
    transform: translateX(0);
    display: block;
    background: none;
    width: auto;
    height: auto;

    svg.close {
      display: none;
    }

    ul {
      margin: 0;
      display: flex;
      gap: 50px;

      a {
        color: #fff;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
          background: none;
          padding: 0;
        }
      }
    }
  }

  svg.menu {
    display: none;
  }

  section.hero {
    color: #000;
    width: 40%;
    height: auto;
    margin-bottom: 8em;

    svg.down-arrow {
      stroke: #000;
      position: unset;
      margin-top: 13em;

      path {
        fill: #000;
      }
    }
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;

    img {
      width: 25em;
      height: 16em;
    }

    .content {
      text-align: right;
      width: 25em;
    }
  }

  .feature.left {
    grid-template-areas: 'left right';

    img {
      grid-area: left;
    }

    .content {
      text-align: left;
      width: 25em;
      justify-self: left;
      padding-right: 5em;
    }
  }
}
